.element__like-button {
  border: 0;
  background: transparent;
  padding: 0;
  width: 42px;
  height: 79px;
  transition: opacity .8s ease-in-out;
}

.element__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
